server:
  port: 8888

spring:
  application:
    name: gatewayserver
  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
    gateway:
      routes:
        - id: r1
          uri: lb://CLASSIFICATION-MICROSERVICE
          predicates:
            - Path=/api/classifications/**
        - id: r2
          uri: lb://PAYS
          predicates:
            - Path=/api/pays/**
      discovery:
        locator:
          enabled: false
          lowerCaseServiceId: true

eureka:
  client:
   register-with-eureka: true
   fetchRegistry: true
   serviceUrl:
    defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}
    instance:
      prefer-ip-address: true
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    gateway:
      access: unrestricted


