spring:
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

  application:
    name: classification-microservice
  profiles:
    active: "default"
  config:
    import: optional:configserver:${CONFIG_SERVICE_URL:http://localhost:9999}

  datasource:
    url: "jdbc:h2:mem:classdb"

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  cloud:
    config:
      enabled: true
    discovery:
      enabled: true

server:
  port: 8086

management:
  endpoints:
    web:
      exposure:
        include: '*'

eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

build:
  version: 1.0
