server:
  port: 8085

spring:
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"
  config:
    import: optional:configserver:${CONFIG_SERVICE_URL:http://localhost:9999}
  application:
    name: pays

  datasource:
    url: jdbc:h2:mem:paysdb

  h2:
    console:
      enabled: true

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  cloud:
    config:
      enabled: true
    discovery:
      enabled: true
management:
  endpoints:
    web:
      exposure:
        include: "*"
eureka:
 client:
  service-url:
    defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}
